// Variables
$default_p_font: 'Roboto', sans-serif;
$GitLab_color: linear-gradient(to bottom right, #e24329, #fca326);
$darkColor: #070707;
$lightColor: #f8f8f8;

body {
    margin: 0;
    padding: 0;
}

* ::selection {
    background: black;
    color: white;
}

@mixin cool-link {
    text-decoration: none;
}

header {
    cursor: default;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    background: black;
    color: white;
    ::selection {
        background: white;
        color: black;
    }
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-size: 3vw;
    height: 100vh;
    /** "intro" animation **/
    animation-name: intro;
    animation-timing-function: cubic-bezier(1, 0.3, 0.2, 0.1, 0.007, 0.005, 0.0002, 0);
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-duration: 1s;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/** "intro" animation keyframes **/

@mixin intro-animation-from {
    font-size: 3vw;
    height: 100vh;
}

@mixin intro-animation-to {
    font-size: calc(0.3rem + 1vw);
    height: calc(2rem + 4vw);
}

@keyframes intro {
    from {
        @include intro-animation-from()
    }

    to {
        @include intro-animation-to()
    }
}

/** end of keuframes for "intro" animation **/

.div_contents {
    font-family: $default_p_font;
    font-size: 1.3rem;
    margin-top: calc(3em + 5vw);
    padding: 0 10%;
}

.div_gitlab_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1rem 0;
}

.a_gitlab_project_link {
    @include cool-link();
    color: white;
    padding: 0 calc(0.7rem + 5vw);
    text-align: center;
    border: none;
    border-radius: 5rem;
    font-size: 1.07em;
    font-weight: 700;
}

a.a_gitlab_project_link {
    &:link, &:visited {
        background: $GitLab_color;
    }
    &:hover, &:active {
        background: black;
    }
}

.div_flexbox1_da-mma {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 3rem 0;
    h2 {
        margin-top: 4rem;
        font-size: 1.3em;
        padding: 0 2rem;
    }
}

@mixin div_sub_buttons-a($normal-light, $normal-dark, $normal-text-hsl-lightness, $normal-border-hsl-lightness) {
    @include cool-link();
    color: $normal-dark;
    border: solid 0.11em $normal-dark;
    border-radius: 5rem;
    padding: .45rem .5em;
    margin-bottom: 1rem;
    transition: all ease-in-out .1s;
    &:hover, &:active {
        color: hsl(16, 83%, $normal-text-hsl-lightness);
        border: solid 0.11em #e95d28;
        background-color: hsl(32, 100%, $normal-border-hsl-lightness);
    }
}

.div_sub_buttons {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    p {
        padding: 0;
        margin: 0;
    }
    a {
        @include div_sub_buttons-a(undefined, black, 20%, 95%)
    }
}


/** Dark theme properties **/

@media (prefers-color-scheme: dark) {

    * ::selection {
        background: $lightColor;
        color: $darkColor;
    }

    body {
        background-color: $darkColor;
        color: white;
    }

    header {
        ::selection {
            background: $darkColor;
            color: $lightColor;
        }
    }

    .div_sub_buttons {
        a {
            @include div_sub_buttons-a($darkColor, $lightColor, 85%, 5%)
        }
    }

    a.a_gitlab_project_link {
        &:hover, &:active {
            background: $lightColor;
            color: black;
        }
    }


    @keyframes intro {
        from {
            @include intro-animation-from();
            background-color: $darkColor;
            color: $lightColor;
        }
    
        to {
            @include intro-animation-to();
            background-color: $lightColor;
            color: $darkColor;
        }
    }
}