$darkBrown: #935300;
$lightYellow: #f0eccd;
$gray: #cccccc;

* ::selection {
    background-color: $darkBrown;
    color: white;
}

body {
    background-color: $gray;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 20%;
}

@media only screen and (max-width: 645px) {
    body {
        margin: 0 8%;

        header h1 {
            font-size: calc(1.4rem + 2vw);
        }
    }
  }

.container {
    background-color: $lightYellow;
    padding-bottom: 10px;
    border: white solid 0.2em;
    border-top: 0;
}

header {
    background-color: $darkBrown;
    color: white;
    padding: 0.4em;
    margin-bottom: 1em;
    font-weight: bold;

    & ::selection {
        background-color: $lightYellow;
        color: $darkBrown;
    }

    h1 {
        margin: 10px;
        text-align: center;
        font-family: 'Allan', cursive;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

#header-a {
    text-decoration: none;
    &:hover {
        text-decoration: underline 2px white;
    }
}

p {
    margin: 0.3rem;
    font-family: 'Comfortaa', cursive;
    padding: 0 calc(1rem + 5vw);
    margin-bottom: 2rem;
}

#Alberto-a img {
    max-width: 90%;
    margin: auto;
    object-fit: contain;
}

.legenda {
    font-size: 0.9rem;
}

.alberto {
    max-height: 320px;
}