body {
    font-family: sans-serif;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    img {
        max-height: 200px;
        max-width: 200px;
        margin-bottom: .5em;
        margin-right: .3em;
    }
}

.image-and-sources {
    background-color: #d4d8ff;
    border-radius: 5px;
    margin: 9px;
    padding: 9px;
    p {
        font-weight: bold;
        font-size: 1.1em;
    }
}

.image-sources {
    display: inline-block;
    vertical-align: top;
    background-color: #f5f6ff;
    border-radius: 5px;
    padding: 0 2em 1em 1em;
    ul {
        margin: 0;
        li {
            margin-bottom: .5em;
        }
    }
}

@media (max-width: 495px) {
    .image-sources {
        display: block;
        margin-left: .25em;
    }

    .image-and-sources {
        display: inline-flex;
    }
}
