$lightGreen: #a0aa6d;
$darkGreen: #697335;

body {
    background: #a0aa6d;
    margin: calc(2rem + 6vw) calc(20vw - 3rem);
}


* ::selection {
    background-color: $darkGreen;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    background: #e9eccf;
    &, a {
        color: #697335;
        text-decoration: none;
    }
    align-self: center;
}

header {
    background: linear-gradient(to bottom, #e7eccc, #d1d7b1);
    font-size: 10pt;
    img {
        position: relative;
        top: calc(2.2rem - 4vw);
        max-width: 90%;
    }
    h1 {
        position: relative;
        top: calc(1rem - 4vw);
        font-family: 'Denk One', Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: 100;
        bottom: 0.5em;
        padding-left: 10%;
        padding-bottom: 0.5em;
    }
}

p {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background-color: #e9eccf;
    padding: 0.1em 1em;
    padding-bottom: 3em;

    img {
        border: solid white 0.4em;
    }

    p {
        line-height: 28.8px;
    }

    #p2 {
        margin-top: 2rem;
        text-align: center;
    }
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 2em;
    line-height: 51.2px;
}

#Malaquias-div {
    text-align: center;
}

#Malaquias {
    max-height: 320px;
    max-width: 80%;
}

#Malakhestias-div {
    text-align: center;
    a {
        text-decoration: none;
    }
}

.Malakhestias {
    margin: 0.5em;
    max-width: 70%;
}

.info-button {
    display: inline-block;
    background-color: #daddc0;
    font-size: 1.3em;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(9, 9, 9);
}